<form class="main-tray">
  <ul class="fa-ul">
    {{#each dice}}
      <li>
        <div class="roll-container">
          <div
            class="dice-div"
            data-sides="{{sides}}"
            onclick="clearDice(`{{sides}}`)"
          >
            <i class="{{class}}"></i>
            <span class="dice-label">d{{sides}}</span>
          </div>
          <input
            id="d{{sides}}-1"
            class="dice-input"
            name="d{{sides}}"
            type="radio"
            value="1"
          />
          <label for="d{{sides}}-1">
            <div class="dice-count-div">1</div>
          </label>
          <input
            id="d{{sides}}-2"
            type="radio"
            class="dice-input"
            name="d{{sides}}"
            value="2"
          />
          <label for="d{{sides}}-2">
            <div class="dice-count-div">2</div>
          </label>
          <input
            id="d{{sides}}-3"
            type="radio"
            class="dice-input"
            name="d{{sides}}"
            value="3"
          />
          <label for="d{{sides}}-3">
            <div class="dice-count-div">3</div>
          </label>
          <input
            id="d{{sides}}-4"
            type="radio"
            class="dice-input"
            name="d{{sides}}"
            value="4"
          />
          <label for="d{{sides}}-4">
            <div class="dice-count-div">4</div>
          </label>
          <input
            id="d{{sides}}-5"
            type="radio"
            class="dice-input"
            name="d{{sides}}"
            value="5"
          />
          <label for="d{{sides}}-5">
            <div class="dice-count-div">5</div>
          </label>
          <input
            id="d{{sides}}-6"
            type="radio"
            class="dice-input"
            name="d{{sides}}"
            value="6"
          />
          <label for="d{{sides}}-6">
            <div class="dice-count-div">6</div>
          </label>

        </div>
      </li>
    {{/each}}
  </ul>

<div class="roll-type-list">
  <div><input
        class="roll-type-input"
        type="radio"
        id="public"
        name="rollMode"
        value="roll"
        checked
      /></li>
    <label for="public" class="roll-type-label">Public Roll</label></div>
  <div><input
        class="roll-type-input"
        type="radio"
        id="private"
        name="rollMode"
        value="selfroll"
      /></li>
    <label for="private" class="roll-type-label">Private Roll</label></div>
  <div>
    <input
        class="roll-type-input"
        type="radio"
        id="gm"
        name="rollMode"
        value="gmroll"
      /></li>
    <label for="gm" class="roll-type-label">GM Roll</label>
  </div>
</div>
  <button>{{localize "DICETRAY.Action"}}</button>
</form>